<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WebSharper" version="2.5.128.65" targetFramework="net45" />
  <package id="WebSharper.KendoUI" version="2.5.130.0" targetFramework="net45" />
  <package id="WebSharper.Piglets" version="0.1.99.158" targetFramework="net45" />
  <package id="WebSharper.TypeScript.Lib" version="2.5.40" targetFramework="net45" />
</packages>