<configuration>
	<system.webServer>
		<modules>
			<add name="WebSharper.RemotingModule" type="IntelliFactory.WebSharper.Web.RpcModule, IntelliFactory.WebSharper.Web"/>
			<add name="WebSharper.Sitelets" type="IntelliFactory.WebSharper.Sitelets.HttpModule, IntelliFactory.WebSharper.Sitelets"/>
		</modules>
	</system.webServer>
	<!--
		For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.5" />
			</system.Web>
	-->
	<system.web>
		<compilation targetFramework="4.5"/>
		<pages controlRenderingCompatibilityVersion="4.0"/></system.web>
</configuration>
