<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WebSharper" version="2.5.113.48" targetFramework="net40" />
  <package id="WebSharper.KendoUI" version="2.5.104.0" targetFramework="net40" />
  <package id="WebSharper.Piglets" version="0.1.83.142" targetFramework="net40" />
  <package id="WebSharper.TypeScript.Lib" version="2.5.25" targetFramework="net40" />
</packages>