<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WebSharper" version="2.5.106.39" targetFramework="net40" />
  <package id="WebSharper.KendoUI" version="2.5.89.0" targetFramework="net40" />
  <package id="WebSharper.Piglets" version="0.1.75.134" targetFramework="net40" />
  <package id="WebSharper.TypeScript.Lib" version="2.5.16" targetFramework="net40" />
</packages>