.k-grid td {
    padding: .1em .6em;
}
.gridNumericValue {
    text-align: right;
}

.gridCenteredValue {
    text-align: center;
}

.code {
    font-family: Consolas, monaco, monospace;
    font-size: 10pt;
}